
.right-section {
    flex: 1;
    padding: 20px;
    padding-top:8px;
    margin: 40px;
    margin-top: 40px;
    background-color: #ededed;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .right-section-top{
    display: flex;
  }

  .right-section-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .right-section-search{
    margin:15px;
    margin-left: 50%;
    width: 250px;
    height: 25px;
    border-radius: 7px;
    padding: 4px;
    padding-left: 6px;
    font-family: cursive;
  }

  .search-on{
    margin-top: 15px;
    font-size: 25px;
  }

  .search-on:hover{
    cursor: pointer;
  }

  .search-on:active{
    transform: translate(2px, 2px);
  }

  .right-section-content-card{
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(204, 231, 248);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 370px;
    width: 250px;
    text-align: center;
  }

  .right-section-content-card-top{
    display: flex;
    justify-content: center;
    align-items: right;
  }

  .right-section-content-card-title{
    font-family: cursive;
    text-align: center;
    font-size: larger;
    padding: 7px;
    width: 120%;
    margin-left: 1.2rem;
  }

  .right-section-content-card-chain{
    width: 40px;
    height: 40px;
  }

  .right-section-content-card-image{
    width: 60%;
    height: 130px;
    border-radius: 6px;
    margin-bottom: 5px;
  }

  .right-section-content-card-desc{
    margin: 6px;
    margin-top:8px;
    font-family: cursive;
  }

  .right-section-attestationData{
    height: 200px;
    width: 80%;
    background-color: #fff;
    border-radius: 7px;
    margin: 2.5rem;
  }

  .attestation-content-title{
     font-size: large;
     font-weight: bold;
     padding-left: 1rem;
     padding-top: 0.5rem;
  }

  .attestation-content-desc{
    font-size: medium;
    padding-left: 1rem;
  }
  
  .card-flip-proof-button{
    border-radius: 4px;
    background-color: rgb(234, 137, 137);
    background: linear-gradient(90deg, rgba(234,137,137,1) 0%, rgb(252, 193, 193) 100%);
    font-size: large;
    padding: 10px;
    border-top-width: 3px;
    border-left-width: 3px;
    border-right-width: 6px;
    border-bottom-width: 9px;
    margin:15px;
    margin-bottom: 10px;
  }

  .card-flip-bridge-button{
    border-radius: 4px;
    background-color: rgb(234, 137, 137);
    background: linear-gradient(90deg, rgba(234,137,137,1) 0%, rgb(252, 193, 193) 100%);
    font-size: large;
    padding: 10px;
    border-top-width: 3px;
    border-left-width: 3px;
    border-right-width: 6px;
    border-bottom-width: 9px;
    margin:15px;
    margin-bottom: 0;
  }

  .card-flip-proof-button:hover{
    cursor: pointer;
  }

  .card-flip-proof-button:active{
    transform: translate(1px, 5px);
  }

  .card-flip-bridge-button:hover{
    cursor: pointer;
  }
 
  .card-flip-bridge-button:active{
    transform: translate(1px, 5px);
  }

  .card-flip-copy{
    font-family: cursive;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 40px;
  }

  .card-flip-copy-emoji{
    font-size: 30px;
  }
  .card-flip-copy-emoji:hover{
    cursor: pointer;
  }
  .card-flip-copy-emoji:active{
    transform: translate(1px, 5px);
    cursor: wait;
  }

  .card-flip-button{
     font-weight: bolder;
      font-size: 20px;
      text-align: right;
      padding: 20px;
  }

  .card-flip-button:hover{
    cursor: pointer;
  }
